SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

WEATHER_LAT=-15.886953
WEATHER_LON=-47.813873
WEATHER_TIMEZONE=America/Sao_Paulo
WEATHER_LOCATION=Brasilia

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_CALENDAR_ID=primary
GOOGLE_CALENDAR_TIMEZONE=America/Sao_Paulo

HOME_ASSISTANT_URL=http://127.0.0.1:8123
HOME_ASSISTANT_TOKEN=
HOME_ASSISTANT_ENTITIES=light.abajur,switch.luz_escritorio_switch_1,cover.teto_sala_door_1
